Options -MultiViews
RewriteEngine On

# API redirect to backend
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ https://api.helferchen.info/api/$1 [R=302,L]

# SPA fallback
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
